<div class="card-columns m-3 mt-5">

  {% for project in site.projects reversed %}

    {%- assign project_type       = "local" -%}
    {%- assign project_id         = project.name | slugify -%}
    {%- assign project_name       = project.name -%}
    {%- assign project_formalism  = project.formalism -%}
    {%- assign project_tagline    = project.tagline -%}
    {%- assign project_img        = project.image -%}
    {%- assign project_desc       = project.description -%}
    {%- assign project_term       = project.term -%}
    {%- assign project_tech       = project.tech -%}
    {%- assign project_credits    = project.credits -%}
    {%- assign project_play_url   = project.play_url -%}
    {%- assign project_source_url = project.source_url -%}
    {%- assign project_source_remark = project.source_remark -%}
    {%- assign project_content    = project.content -%}
    {%- assign project_url = project.url | relative_url -%}

    {% include projects/project-card.html %}

  {% endfor %}

</div>
