<div class="wow animated fadeIn" data-wow-delay=".15s">
  
  <div class="project card text-themed" data-toggle="popover" title="{{ project_name }}" data-content="{{ project_content | xml_escape }}">
    {%- if project_img -%}
    <a tabindex="0" href="{{ project_url }}"><img id="{{ project_id }}-img" class="card-img-top" src="thumbs/{{ project_img }}" alt="{{ project_name }}" /></a>
    {%- endif -%}
    <div class="card-body">
  
      <h5 id="{{ project_id }}-name" class="card-title">
        <a tabindex="0" href="{{ project_url }}" role="button">
          {{ project_name }}
        </a>
        {%- if project_play_url -%}
        <span id="{{ project_id }}-play" class="card-text">
          {% include elements/button.html link=project_play_url text="Play" style="secondary" size="sm" target="_blank"%}
        </span>
        {%- endif -%}
      </h5>
      <p id="{{ project_id }}-tagline" class="card-text">{{ project_tagline }}</p>
      <p id="{{ project_id }}-tools" class="card-text">
        {%- if project_formalism -%}
        <span class="badge badge-pill text-primary border border-primary ml-1 modysy-formalism">{{ project_formalism }}</span>
        {%- endif -%}
        {%- for tech in project_tech -%}
        <span class="badge badge-pill text-secondary border border-secondary ml-1 modysy-tech">{{ tech }}</span>
        {%- endfor -%}
      </p>
    </div>
  </div>
</div>
