<head>

  {% assign title = page.title | default: site.title | escape %}
  {% assign description = page.tagline | default: page.description | default: site.description | strip_html | strip_newlines | truncate: 160 %}
  {% assign image = page.image | default: site.author.image %}

  {% if page.name and page.collection == 'projects' %}
    {% assign title = page.name | escape %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1200, user-scalable=yes">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@benkeks">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ image | absolute_url }}">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ image | absolute_url }}">

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  <link rel="shortcut icon" type="image/x-icon" href="{{ 'assets/favicon.ico' | absolute_url }}">

  <script src="{{ 'assets/js/theme.js' | relative_url }}"></script>

  <script src="{{ 'assets/d3/dist/d3.min.js' | relative_url }}"></script>

  <link rel="stylesheet" href="{{ 'assets/fontawesome/css/fontawesome.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/fontawesome/css/brands.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/fontawesome/css/solid.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/bootstrap/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
</head>