{% assign product = include.product %}
{% assign my_num_in_group = include.num | default: 0 %}

<div class="product product-reference product-pin product-{{product.kind | slugify}} {% for t in product.tags %} tagged-{{t}}{% endfor %}"
    data-date="{{ product.pos_date | default: product.date }}"
    data-year="{{product.date | truncate: 4, ''}}"
    data-area="{{product.area}}"
    data-num="{{my_num_in_group}}">
<span class="product-kind-icon" title="{{product.kind | capitalize}}">
{% case product.kind %}
  {% when "paper" %}
  <i class="fas fa-scroll"></i>
  {% when "article" %}
  <i class="fas fa-book-open"></i>
  {% when "thesis", "bachelor thesis", "master thesis" %}
  <i class="fas fa-book"></i>
  {% when "tool" %}
  <i class="fas fa-tools"></i>
  {% when "talk" %}
  <i class="fas fa-volume-up"></i>
  {% when "course" %}
  <i class="fas fa-chalkboard-teacher"></i>
  {% when "contribution", "contribution to work by" %}
  <i class="fas fa-sign-in-alt"></i>
  {% when "advising", "supervision" %}
  <i class="fas fa-hand-point-right"></i>
  {% when "artifact" %}
  <i class="fas fa-archive"></i>
  {% when "website" %}
  <i class="fa-solid fa-table-columns"></i>
  {% else %}
  <i class="fas fa-vector-square"></i>
{% endcase %}
</span>
{% if product.short_title %}
<span class="product-short-title">{{product.short_title}}</span>
{% else %}
<span class="product-short-title">{{product.title | truncate: 64, '...'}}</span>
{% endif %}
<div class="product-venue-date-box">
  {% if product.venue_url %}
  <span class="product-venue"><a href="{{product.venue_url}}">{{product.venue}}</a></span>
  {% else %}
  <span class="product-venue">{{product.venue}}</span>
  {% endif %}
  <span class="product-date">({{ product.date | date: "%Y-%m" }})</span> 
</div>
{% if product.url %}
<span class="product-title"><a href="{{product.url}}">{{product.title}}</a></span>
{% else %}
<span class="product-title">{{product.title}}</span>
{% endif %}
<div class="product-info-box">
  <span class="product-kind">{{product.kind | capitalize}}</span>
  {% if product.source %}
  <a href="{{product.source}}" title="Source" class="product-source"><i class="fab fa-github"></i></a>
  {% endif %}
  {% if product.poster %}
  <a href="{{product.poster}}" title="Poster" class="product-poster"><i class="far fa-image"></i></a>
  {% endif %}
  {% if product.authors %}
  <span class="product-authors">{{ product.authors | join: ",&#32;" | replace: " ", "&nbsp;" }}</span>
  {% endif %}
  {% if product.supervisors %}
  <span class="product-supervisors">Supervisor{% if product.supervisors.size != 1 %}s{% endif %}: {{ product.supervisors | join: ",&#32;" | replace: " ", "&nbsp;"}}</span>
  {% endif %}
</div>

</div>