---
layout: default
---


<div id="header" class="row justify-content-center align-items-center">
  <div class="col-lg-3 col-md-6 text-center">

    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image">
      </div>
    </div>
    <a href="{{ site.baseurl }}/"><h5><b>{{ site.title }}</b></h5></a>

    {% include social.html %}

    <p class="text-muted">{{ site.description }}</p>

  </div>
</div>

{{content}}